<div class="grid-selection-panel">
    @for (paletteComponent of categoryPaletteComponentMap?.get(category!); track $index) {
        <input class="grid-selection-checkbox" [id]="paletteComponent.className" type="checkbox" [checked]="paletteComponent.selected" (click)="select($event, paletteComponent)" />
        <label class="grid-selection-label" for="{{ paletteComponent.className }}" [pTooltip]="paletteComponent.className" showDelay="1000">
            <app-palette-component-svgs [className]="paletteComponent.className" />
        </label>
    }
</div>