<div class="flex flex-col h-full">
    <p-splitter class="h-full" styleClass="h-full" layout="vertical" [gutterSize]="2" [panelSizes]="[50, 50]">
        <ng-template #panel id="palette">
            <div class="overflow-auto w-full">
                <p-accordion [multiple]="true">
                    @for (entry of categoryPaletteComponentMap; track $index) {
                        <p-accordion-panel [value]="$index">
                            <p-accordion-header>{{ entry[0] }}</p-accordion-header>
                            <p-accordion-content>
                                <app-grid-selection-container-panel
                                    [paletteComponentMap]="categoryPaletteComponentMap"
                                    [category]="entry[0]"
                                />
                            </p-accordion-content>
                        </p-accordion-panel>
                    }
                </p-accordion>
            </div>
        </ng-template>
        <ng-template #panel id="properties">
            <app-selectable-properties-container></app-selectable-properties-container>
        </ng-template>
    </p-splitter>
</div>