<div class="flex flex-col h-full">
    <p-splitter class="h-full" layout="vertical" [gutterSize]="2" [panelSizes]="[50, 50]">
        <ng-template #panel id="palette">
            <div class="overflow-auto w-full">
                <p-accordion [multiple]="true" [transitionOptions]="'200ms cubic-bezier(0.86, 0, 0.07, 1)'">
                    @for (entry of categoryPaletteComponentMap; track $index) {
                        <p-accordion-panel [value]="$index">
                            <p-accordion-header style="padding: 1ex;">{{ entry[0] }}</p-accordion-header>
                            <p-accordion-content>
                                <app-grid-selection-panel
                                    [categoryPaletteComponentMap]="categoryPaletteComponentMap"
                                    (categoryPaletteComponentMapChange)="onMapChange($event)"
                                    [category]="entry[0]"
                                />
                            </p-accordion-content>
                        </p-accordion-panel>
                    }
                </p-accordion>
            </div>
        </ng-template>
        <ng-template #panel id="properties">
            <ng-content select="[propertiesPanel]" />
        </ng-template>
    </p-splitter>
</div>