<app-xorls-tab-view [start]="startIndex" (tabClose)="closeTab($event)" (tabChange)="changeActiveWorkspace($event)">
    @for (tab of tabs; track tab.id; let i = $index) {
    <app-xorls-tab [id]="tab.id" [header]="tab.header">
        <div #contentViewport class="h-full w-full" [hidden]="activeTabIndex !== i">
            <ng-container #outlet="ngComponentOutlet" [ngComponentOutlet]="tab.component"
                [ngComponentOutletInputs]="{ id: tab.id }" />
        </div>
    </app-xorls-tab>
    }
</app-xorls-tab-view>