/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind utilities;

body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    overflow: hidden;

    // Add CSS for custom vertical left-oriented tab panel
    p-tabs.orientation-left {
        flex-direction: row;
        height: 100%;
        width: inherit;

        .p-tablist-content {
            display: flex;
            border-right-style: solid;
            border-right-width: 1px;
            border-color: var(--p-tabs-tablist-border-color);
            background: var(--p-tabs-tablist-background);
        }

        .p-tablist-tab-list {
            flex-grow: 1;
            flex-direction: column;
            width: 100%;
            border: none;
        }

        .p-tab {
            border: none;
            padding: 0.75rem;
            margin-right: 0px;
        }

        .p-tab-active {
            border-right-style: solid;
            border-right-width: 1px;
            border-color: var(--p-tabs-tab-active-color);
        }

        .p-tablist-active-bar {
            visibility: hidden;
        }

        .p-tabpanels {
            padding: 1.125rem 1.125rem 1.125rem 0.875rem;
        }
    }

    p-tabs.orientation-left.left-panel {
        .p-tabpanels {
            padding: 0;
            width: 100%;
        }
    }

    // Eliminate the border around splitters
    .p-splitter {
        border: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent; 
}

/* Corner */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--p-primary-hover-color);
    -webkit-animation: background 1000ms;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--p-primary-active-color);
}